@model AppWeb1.Models.Produto

@{
   ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()

   <div class="form-horizontal">
      <h4>Produto</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })

      <div class="row">
         <div class="col-md-12">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-12" })
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @onblur = "Alerta();", @class = "form-control col-md-12" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label " })
            @Html.DropDownList("Tipo", new SelectList(ViewBag.ListaTipos, "Descricao", "Descricao"), "Selecione o tipo", htmlAttributes: new { @onchange = "carregaModelos();", @class = "form-control col-md-12" })
            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
         </div>
         <div class="col-md-6">
            <select class="form-control" id="Modelos" name="Modelos">
               <option></option>
            </select>
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor(model => model.Qtde, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.EditorFor(model => model.Qtde, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qtde, "", new { @class = "text-danger" })
         </div>
      </div>



      <div class="form-group">
         @Html.LabelFor(model => model.Unidade, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.EditorFor(model => model.Unidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Unidade, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor(model => model.MsgPromo, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
            @Html.EditorFor(model => model.MsgPromo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MsgPromo, "", new { @class = "text-danger" })
         </div>
      </div>

      <div class="form-group">
         <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
         </div>
      </div>
   </div>
}

<div>
   @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
       @Scripts.Render("~/bundles/jqueryval")
   }*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/captcha/jquery.clientsidecaptcha.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/personalizados/funcoes.js"></script>